amalgamation.sublime-workspace
blend.json
blendFiles.txt
examples/demo_examples/tritone_demo.lp
examples/demo_examples/tritone_demo_raw.casl
examples/AIJ-Paper/naturalsAndLists_sum_minimal.lp
examples/AIJ-Paper/naturalsAndLists_sum_minimal_raw.casl
log.tmp
Blend_v*.casl
*_raw.casl
examples/AIJ-Paper/naturalsAndLists_fact_minimal.lp
examples/AIJ-Paper/tritone_demo.lp
amalgamTmp.casl
HouseBoat.lp
HouseBoat_GoguenWebsite.lp
examples/AIJ-Paper/HouseBoat_movingProp.lp
examples/AIJ-Paper/HouseBoat_simple.lp
